- The commands to check the spanning tree configuration is as follows:
```
show spanning-tree vlan 1
```

 ```
 show mac address-table
```

